<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Allergy Counter</title>
    </head>
    <body>
        <h1>Allergy Counter</h1>
        <form method="post" action="/new">
          <input type="text" name="userInput" id="userInput" placeholder="Enter Allergy Number">
          <button type="submit">Submit</button>
        </form>
    </body>
</html>
