<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Allergy Counter</title>
    </head>
    <body>
        <h1>Allergy Counter</h1>
        <ul>
          <!-- <li>{{dump(result)}}</li> -->
          {% for item in result%}
          <li>{{item}}</li>
          {% endfor %}
        </ul>
    </body>
</html>
